.ui.grid.bottom-nav-container {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.ui.menu.main-bottom-nav {
    color: hsla(0, 0%, 100%, 0.8);
    bottom: 0;
    width: 100%;
    border-radius: 0;
}

.contact-modal {
    width: 450px;
}

.company-info-container {
    padding-left: 15px;
}