.bottom-nav-container {
    width: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.main-bottom-nav {
    color: hsla(0, 0%, 100%, 0.8);
    bottom: 0;
    width: 100%;
    border-radius: 0 !important;
}