.ui.icon.menu.main-side-nav {
    background-color: #EBEBEB;
    width: 110px;
    border-radius: 0;
}

.ui.icon.menu.side-nav-mobile {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-nav-mobile-container {
    width: 100%;
}

.ui.grid> .side-nav-mobile-container {
    padding: 0;
}

.side-nav-mobile.ui.menu .item {
    padding: .5em;
}