.paging-label {
    margin-left: 10px;
  }
  
  .ui.button.inner-button {
    margin-right: 10px;
  }

  @media screen and (min-width: 767px) and (max-width: 991px) {
    .ui.button.inner-button {
      margin-right: 5px;
    }
}

  .ui.button.inactive-paging-button {
    background: transparent;
  }

  .filter-label-text {
    margin-right: 5px;
  }

  .ui.compact.selection.dropdown.table-filter {
    margin: 0 5px;
  }

  .ui.grid.interactive-table-container {
    padding: 15px;
  }

  .ui.grid>[class*="sixteen wide"].column.interactive-table-layout-table-container {
    padding-top: 0;
  }