.ui.grid.manage-data-content-container {
    padding: 15px 15px 0 15px;
    flex: 1;
}

h3.product-upload-header {
    float: left;
    margin: 0;
}

.product-upload-header-container {
    padding-bottom: 0;
}

.product-page-bottom-content {
    margin-bottom: 30px;
}

.download-link-text {
    float: right;
}

.download-link-text:hover {
    color: #29598D;
    cursor: pointer;
}

.ui.grid>.column:not(.row).bottom-content-container {
    padding: 1.5rem;
}

.ui.relaxed.grid>.column:not(.row).submission-table-container {
    margin-bottom: 20px;
}

.ui.label.file-upload-container {
    width: 100%;
    cursor: pointer;
}
