.ui.grid.manage-data-content-container {
    padding: 0 15px;
    flex: 1;
}

.ui.grid.manage-data-content-container {
    margin-top: 0;
}

.ui.menu .ui.list > .item.second-side-nav-list-item:last-child {
    padding-bottom: .42857143em;
}

.ui.menu .ui.list .list>.item:first-child, .ui.menu .ui.list>.item.second-side-nav-list-item:first-child {
    padding-top: .42857143em;
}

.ui.selection.list .list>.item.item.second-side-nav-list-item, .ui.selection.list>.item {
    border-radius: 0;
}

.ui.menu .item>.label.status-label {
    margin-top: 1px;
}

.ui.menu .dropdown.item .menu.data-summary-dropdown-menu {
    min-width: 170px;
    max-height: 165px;
    overflow: auto;
    margin-left: -25px;
} 

@media only screen and (max-width: 906px) {
    .ui.segment.data-summary-prompt {
        margin-top: 15px;
    }    
  }