.table-header {
    float: left; 
    padding-top: 1rem;
}

h3.table-header-no-button {
    margin-bottom: .5rem;
}

.table-row-icon-button:hover {
    cursor: pointer;
    font-weight: bold;
}

.ui.grid>.column:not(.row).module-table-container-column {
    padding: 0 1rem;
}

.table-header-container {
    margin-bottom: -20px;
}

.module-table-container {
    margin-top: 15px;
}

.table-container-with-button {
    margin-top: 10px;
}