.org-form-container {
    margin-bottom: 45px;
}

.my-account-header-container {
    margin-top: 45px;
}

.my-account-form-container {
    margin-bottom: 30px;
}

.ui.header.my-account-header {
    margin-bottom: 10px;
}

.ui.grid.manage-organization-container {
    padding: 15px;
}