.ui.menu.secondary-side-nav,
.ui.menu.secondary-side-nav-mobile {
    background-color: #F1F1F1;
}

.ui.header.secondary-side-nav-header {
    padding: 15px;
    margin-bottom: 0;
}

.ui.accordion .title:not(.ui).second-side-nav-menu-item, 
.ui.button.second-side-nav-menu-item, 
.ui.dropdown.second-side-nav-menu-item {
    color: #fff;
}

.second-side-nav-content-options {
    width: fit-content;
}

.ui.menu .ui.list>.item.second-side-nav-list-item:last-child {
    padding-bottom: .21428571em;
}

.ui.vertical.menu.secondary-side-nav>.item:last-child {
    margin-bottom: 30px;
}

.ui.grid.secondary-side-nav-container {
    margin-top: 0;
    padding: 0;
}

.ui.menu.secondary-side-nav-mobile {
    border-radius: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ui.attached.menu:not(.tabular).secondary-side-nav-mobile {
    border-top: none;
}

.ui.menu .menu.secondary-side-nav-mobile-content {
    flex-flow: row wrap;
	justify-content: center;
}

