.secondary-side-nav {
    background-color: #F1F1F1 !important;
}

.secondary-side-nav-header {
    padding: 15px !important;
    margin-bottom: 0 !important;
}

.second-side-nav-menu-item {
    color: #fff !important;
}

.second-side-nav-content-options {
    width: fit-content !important;
}

// .second-side-nav-list-item:hover {
//     cursor: pointer !important;
//     background: rgba(0,0,0,.05) !important;
// }

.ui.menu .ui.list>.item.second-side-nav-list-item:last-child {
    padding-bottom: .21428571em;
}