.ui.menu.secondary-side-nav {
    background-color: #F1F1F1;
}

.ui.header.secondary-side-nav-header {
    padding: 15px;
    margin-bottom: 0;
}

.ui.accordion .title:not(.ui).second-side-nav-menu-item, 
.ui.button.second-side-nav-menu-item {
    color: #fff;
}

.second-side-nav-content-options {
    width: fit-content;
}

.ui.menu .ui.list>.item.second-side-nav-list-item:last-child {
    padding-bottom: .21428571em;
}