.top-nav-link {
    color: #fff !important;
}

.active.top-nav-link {
    background-color: #D4DEE8 !important;
    color: #29598D !important;
}

.account-dropdown-logo {
    margin: 0 !important;
}

.top-nav {
    height: 60px !important;
}