.ui.menu .item.top-nav-link,
.ui.menu .item.top-nav-link:hover {
    color: #fff;
}

.ui.menu .item.active.top-nav-link {
    background-color: #D4DEE8;
    color: #29598D;
}

i.icon.account-dropdown-logo {
    margin: 0;
}

.ui.menu.top-nav {
    height: 60px;
}

.main-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px
}

.main-logo:hover {
    cursor: pointer;
} 

.last-login-text {
    font-weight: lighter;
    color: lightgrey;
}

.ui.dropdown .menu>.divider.logout-divider {
    margin-bottom: 0;
}

.logout-button-container {
    padding: 10px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

.ui.dropdown .menu.dropdown-menu {
    z-index: 99999;
}