.menu-expand-text:hover {
    cursor: pointer;
    font-weight: bolder;
}

.ui.top.right.pointing.dropdown>.menu.account-dropdown-menu-content {
    z-index: 10001;
}

.mobile-menu-item-container {
    padding: 5px;
}

.mobile-menu-modal {
    max-width: 250px;
}