img.header-image{
    margin-left: 30px !important;
    width: 100% !important;
}

.login-button-bg{
    color: #fff !important;
}

.login-checkbox{
    float: left;
    padding: 20px 0;
}

.login-icon {
    margin-right: 2px !important;
}

.main-logo-container {
    padding: 15px;
}

.login-header-text {
    color: #505050 !important;
}

.bottom-nav {
    color: hsla(0, 0%, 100%, 0.8);
}

.bottom-nav-link:hover {
    cursor: pointer;
    color: #fff;
}