#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #FBFBFB !important;
}

.main-content-container {
  padding: 0 15px !important;
  flex-grow: 1 !important;
}

.main-background-color {
  background-color: #29598D !important;
}

.main-color {
  color: #29598D !important;
}

.main-secondary-blue {
  background-color: #5AABC5 !important;
}

.main-secondary-blue:hover {
  background-color: rgb(80, 146, 168) !important;
}

.main-nav {
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}