html, body {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

body {
  background-color: #FBFBFB !important;
}

.ui .input {
  width: 100%;
}

.ui.dimmer {
  background-color: rgba(31, 31, 31, 0.473);
}

.ui .dropdown .menu {
  width: 100%;
}

.dropdown.icon {
  padding-top: 5px;
}

.ui.fluid.dropdown {
  border: 1px solid #80808045;
  padding: 5px;
}

.ui.modal>.content {
  background-color: #FAFAFB;
}

.reporting-modal-footer .button {
  width: 85px;
}

#new-report-modal input,
#new-report-modal .dropdown {
  height: 35px;
}

#new-report-modal .row {
  margin-bottom: 10px;
}


/* top nav */
.ui.search>.results {
  margin-top: -15px;
}

.top-nav-menu-container {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.profile-image.ui.mini.image {
  width: 50px;
}
/* end top nav */

.main-background-color {
  background-color: #29598D !important;
}

.main-secondary-blue {
  background-color: #5AABC5 !important;
}

.main-secondary-blue:hover {
  background-color: rgb(80, 146, 168) !important;
}

.main-nav {
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}