$main-theme-color: #29598D;
$main-background-color: #FBFBFB;
$main-button-color: #5AABC5;
$main-button-content-color: #fff;
$main-header-color: #757680;

.main-background-color {
  background-color: $main-theme-color !important;
}

.main-color {
  color: $main-theme-color !important;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: $main-background-color;
}

h1, h2, h3, h4, h5, .ui.header {
  color: $main-header-color;
}

.ui.grid.main-content-container {
  padding: 0 15px;
  flex-grow: 1;
}

@media only screen and (max-width: 906px) {
  .ui.grid.main-content-container {
    display: flex;
    flex-direction: column
  }
}

.main-button-color {
  color: $main-button-color;
}

.ui.button.main-button-color {
  background-color: $main-button-color;
  color: $main-button-content-color;
}

.ui.button.main-button-color:hover {
  background-color: darken($main-button-color, 10%);
}

.ui.button.main-button-color:active {
  background-color: darken($main-button-color, 20%);
}

.ui.menu.side-nav {
    margin: 0;
    border: none;
    box-shadow: none;
    padding: 0;
}

.ui.menu.main-nav {
  border: none;
  box-shadow: none;
  border-radius: 0;
}

.loading-dimmer-container {
  min-height: 250px;
}
