$main-color: #29598D;

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #FBFBFB;
}

h1, h2, h3, h4, h5, .ui.header {
  color: #757680;
}

.main-content-container {
  padding: 0 15px !important;
  flex-grow: 1 !important;
}

.main-background-color {
  background-color: $main-color!important;
}

.main-color {
  color: $main-color !important;
}

.main-secondary-blue {
  background-color: #5AABC5 !important;
}

.main-secondary-blue:hover {
  background-color: rgb(80, 146, 168) !important;
}

.ui.menu.side-nav {
    margin: 0;
    border: none;
    box-shadow: none;
    padding: 0;
}

.ui.menu.main-nav {
  border: none;
  box-shadow: none;
  border-radius: 0;
}

.loading-dimmer-container {
  min-height: 250px;
}