$main-color: #29598D;
$main-button-color: #5AABC5;

.main-background-color {
  background-color: $main-color !important;
}

.main-color {
  color: $main-color !important;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #FBFBFB;
}

h1, h2, h3, h4, h5, .ui.header {
  color: #757680;
}

.ui.grid.main-content-container {
  padding: 0 15px;
  flex-grow: 1;
}

.ui.button.main-button-color {
  background-color: $main-button-color;
  color: #fff;
}

.ui.button.main-button-color:hover {
  background-color: darken($main-button-color, 10%);
}

.ui.button.main-button-color:active {
  background-color: darken($main-button-color, 20%);
}

.ui.menu.side-nav {
    margin: 0;
    border: none;
    box-shadow: none;
    padding: 0;
}

.ui.menu.main-nav {
  border: none;
  box-shadow: none;
  border-radius: 0;
}

.loading-dimmer-container {
  min-height: 250px;
}